---
# DSR doesn't work without native routing
tunnel: disabled
autoDirectNodeRoutes: true
ipv4NativeRoutingCIDR: 10.100.0.0/16

kubeProxyReplacement: strict
k8sServiceHost: REPLACEME
k8sServicePort: 6443

loadBalancer:
  mode: dsr
